body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

a {
  color: white;
}

.heading {
    color: white;
    background-image: url(../img/the-flatiron-building.png);
}

.heading h1 {
  font-size: 70px;
  font-weight: bold;
}

.heading p {
  font-size: 18px;
}

.column h2 {
  font-size: 32px;
  font-weight: bold;
}

.column h3 {
  font-size: 23px;
  font-weight: bold;
}

.column p {
  font-size: 14px;
}

h3.special {
  background-image: url(../img/the-flatiron-building.png);
  color: white;
}

.footer {
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
  color: white;
}
